/*
 * @Descripttion: 
 * @version: 
 * @Author: Hao
 * @Date: 2023-07-14 09:52:42
 * @LastEditors: Hao
 * @LastEditTime: 2023-07-14 15:06:55
 * @FilePath: \hes\src\app\globals.css
 */

/* @tailwind components;
@tailwind utilities; */

.ant-btn{
    margin: 5px;
}

.ant-col{
    text-align: center;
}

.ant-pro-form-login-page-container{
    justify-content: center;
    height: auto;
    
}